body > div {
    float: left;
    text-align: center;
    border-radius: 20px;
    height:600px;
    background-color: rgb(210, 212, 229);
    border: 1px solid blue;
}

.left {
    width:350px;
    padding: 10px;
    margin: 10px;
}

.center {
    width:600px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(229, 212, 229);
}

.right {
    width:258px;
    padding: 10px;
    margin: 10px;
}

h1,h3{
    text-align: center;
    color: brown;
}

input {
    text-align: center;
    height: 20px;
    margin: 3px;
    padding: 3px;
}

select {
    padding: 3px;
    background-color: rgb(212, 229, 212);
    width: 250px;
}

label{
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

button {
    background-color: rgb(0, 0, 107);
    color: rgb(229, 229, 229);
    padding: 7px;
    width: 212px;
    border-radius: 12px;
    font-weight: bold;
}

.blocks {
    margin:auto;
    margin-top: 30px;
}

.answer_options {
    margin: 0 10px;
}

.answer_options > div {
    float: left;
    width: 250px;
    height: 70px;
    padding: 4px;
    margin: 10px 15px 0 15px;
    border-radius: 12px;
    border: 0.5px solid blue;
    background-color: rgb(174, 205, 206);
}
.answer{
    float: none;
    padding-top: 40px;

}